@each $value in $color-list {
    .#{nth($value, 1)} {
      color: nth($value, 2);
    }
  
    .bg-#{nth($value, 1)} {
      background-color: nth($value, 2);
    }
  
    .border-#{nth($value, 1)} {
      border-color: nth($value, 2);
    }
}
  