nav {
    
    background-color: $primary-color-dark;

    .nav-logo-name{
        display: inline;
        padding: 200px 0 0 0;
    }
 
    .brand-logo{
        position: inherit;
        font-size: $font-size-huge;
    }

    #logo-container {
        padding: 6px 6px 0 0;
        height: 60px;
    }
}

input{
    font-family: $font-stack-persian;
    font-size: $font-size-main; //SASSIFY THIS
    color: $secondary-text-color;    
}

.divider {
    background-color: $divider-color;
}

ul{
    padding-right: 0;
}

.dropdown-content {
    li {
        span, a {
            font-family: $font-stack-persian;
            font-size: $font-size-main;
            color: $secondary-text-color;    
            float: right;
        }
    }
}

body {
    font-family: $font-stack-persian;
    font-size: $font-size-main;
    color: $primary-text-color;
    background-color: $primary-color-light;

    .row {
        padding-top: 5px;
    }
}

.main-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #FFFFFF;
    position: relative;

    z-index: 1;
    box-shadow: 6px 0px 9px #888888; //SASSIFY THIS
    border-radius: 5px 5px 5px 5px;
}

.icon-block {

    > h5 {
        color: white;
        background-color: $primary-color;
        line-height: 2.5em;
        box-shadow: 3px 0px 3px #888888; //SASSIFY THIS
        border-radius: 5px 5px 5px 5px;
    }

    > .introduction-row-detail {
        padding: 9px 9px 9px 9px;
        text-align: justify;
    }
}


.fancy {
    line-height: 0.4;
    text-align: center;
    margin-bottom: 40px;
  
      span {
        
        display: inline-block;
        position: relative;
  
        &:before, &:after {
            content: "";
            position: absolute;
            height: 10px;
            border-bottom: 2px solid $primary-color-light;
            border-top: 2px solid $primary-color-light;
            width: 135px;
        }
  
        &:before {
            right: 100%;
            margin-right: 15px;
        }
  
        &:after {
            left: 100%;
            margin-left: 15px;
        }
    }
}

.page-footer {
    background-color: $accent-color;
}

@for $c from 1 through 6 {
    h#{$c} {
        font-family: $font-stack-persian;
        font-weight: $font-weight-normal;
        line-height: $font-line-height-header;
    }
}

table th {
    font-family: $font-stack-persian;
    font-weight: $font-weight-normal;
}

.row .col {
    float: right;
}

.banner-logo {
    width: $logo-size;
    height: $logo-size;
}
